// Buttons and brand-scheme

$cta-border-size: 0px;
$cta-border-color: #f1b434;
$cta-bg-secondary: #ffffff;
$cta-border-size-secondary: 1px;
$cta-border-color-secondary: #f1b434;
$cta-label-color-secondary: #f1b434;

table.body.scheme-synagis {

  // for all rows which has "brand-scheme" as class
  table.row.brand-scheme {

    /* Optional
     b, strong {
       color: #000000;
     }
    */

    a {
      color: #071d49;
      text-decoration: underline;

      &:hover {
        color: darken(#071d49, 10%);
      }

      &:active {
        color: #071d49;
      }

      &:visited {
        color: #071d49;
      }
    }

    p, ul, ol {
      color: #071d49;
    }

    h1 {
      color: #dc8633;
    }

    h2 {
      color: #f1b434;
    }

    h3 {
      color: #000000;
    }

    // Veeva customRichText fix: will be the default color
    th {
      color: #071d49;
    }

  }

  // Preheader
  table.row.preheader.brand-scheme {
    p {
      color: #bbbbbb;
    }
  }

  // element-divider
  table.row.element.divider.brand-scheme {
    th.columns {
      border-top: 1px solid #f1b434;
    }
  }

  // element-cta
  table.row.element.cta.brand-scheme {
  }

  // element-keymessage
  table.row.keymessage.brand-scheme {
    th.columns {
      background-color: #fcf3eb;
    }
  }

  // double-message
  table.row.two-columns.brand-scheme {
    th.columns {
      background-color: #fcf3eb
    }
  }

  // buttons (for all elements)
  table.button.brand-scheme {
    table {
      td {
        background: #f1b434;
        border: $cta-border-size solid #f1b434;
        text-align: center;
        a {
          border: 0 solid #f1b434;
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
        }
      }
    }
    &.rounded table td {
      border-radius: $button-rounded;
      border: 0 solid $cta-border-color;
      text-align: center;
      a {
        border: $cta-border-size solid $cta-border-color;
      }
    }
  }

  table.button.brand-scheme:hover table tr td a,
  table.button.brand-scheme:active table tr td a,
  table.button.brand-scheme table tr td a:visited {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  table.button.brand-scheme:hover,
  table.button.brand-scheme:visited,
  table.button.brand-scheme:active {
    table {
      td {
        color: #ffffff;
        font-weight: bold;
        background: lighten(#f1b434, 10%);
        text-align: center;
        a {
          border: 0 solid lighten(#f1b434, 10%);
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }

  // secondary buttons (for all elements)
  table.button.secondary.brand-scheme {
    table {
      td {
        background: $cta-bg-secondary;
        border: $cta-border-size-secondary solid $cta-border-color-secondary;
        text-align: center;
        a {
          border: 0px solid $cta-border-color-secondary;
          color: $cta-label-color-secondary;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
        }
      }
    }
    &.rounded table td {
      border-radius: $button-rounded;
      border: 0px solid $cta-border-color-secondary;
      text-align: center;
      a {
        border: $cta-border-size-secondary solid $cta-border-color-secondary;
      }
    }
  }

  table.button.secondary.brand-scheme:hover table tr td a,
  table.button.secondary.brand-scheme:active table tr td a,
  table.button.secondary.brand-scheme table tr td a:visited {
    color: $cta-label-color-secondary;
    font-weight: bold;
    text-decoration: none;
  }

  table.button.secondary.brand-scheme:hover,
  table.button.secondary.brand-scheme:visited,
  table.button.secondary.brand-scheme:active {
    table {
      td {
        background: lighten($cta-bg-secondary, 10%);
        color: $cta-label-color-secondary;
        font-weight: bold;
        text-align: center;
        a {
          border: 1px solid lighten($cta-border-color-secondary, 10%);
          color: $cta-label-color-secondary;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }

}
