table.container.footer-container {
  background-color: #f6f6f6;
}

table.row.pi {
  p, li {
    color: #999;
    font-size: 12px;
    line-height: 16px;
  }
}

table.row.disclaimer, table.row.footer {
  p {
    color: #999;
    font-size: 12px;
    line-height: 16px;
  }
}
