

// For all elements
table.row.element {

  a {
    color: #000000;
    text-decoration: underline;
  }

  p {
    font-size: 14px;
    mso-line-height-rule: exactly;
    line-height: 21px;
    color: #000000;
  }

  h1 {
    font-size: 22px;
    mso-line-height-rule: exactly;
    line-height: 29px;
    color: #000000;
    font-weight: bold;
  }

  h2 {
    font-size: 16px;
    mso-line-height-rule: exactly;
    line-height: 22px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 14px;
    mso-line-height-rule: exactly;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
  }

  // references
  h4 {
    color: #999;
    font-size: 12px;
    mso-line-height-rule: exactly;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }

}

// element-text
table.row.element.text.has-background-color {
  th.columns {
    padding-top: 16px;
    padding-bottom: 6px;
  }
}

// element-references
table.row.element.references {
  p, li {
    color: #999999;
    font-size: 11px;
    mso-line-height-rule: exactly;
    line-height: 14px;
  }
}

// element-divider
table.row.element.divider {
  border-top: 1px solid #cccccc
}

// element-cta
table.row.element.cta {
}

// element-cta
table.row.element.two-columns {
}

// element-star-rating
table.row.element.rating {

  th.columns {
  }

  table.rating-stars {
    width: 270px;
    p {
      margin: 0;
      padding: 0;
    }
    a.star {
      font-size: 23px;
      line-height: normal;
      color: #bfbfbf;
      text-decoration: none !important;
    }
    a.rating {
      color: #bfbfbf;
      font-size: 15px;
      line-height: normal;
      text-decoration: none !important;
    }
  }
  table.rating-thumbs {
    width: 100px;
    p {
      margin: 0;
      padding: 0;
    }
    a.thumb {
      color: #bfbfbf;
      font-size: 20px;
      line-height: normal;
      text-decoration: none !important;
    }
  }
  table.rating-like {
    p {
      margin: 0;
      padding: 0;
    }
    a.like {
      color: #bfbfbf;
      font-size: 20px;
      line-height: normal;
      text-decoration: none !important;
    }
    width: 150px;
  }
}

/*
  Inspired by https://codepen.io/maxxscholten/pen/zxegjL
  Thanks you Maxx Scholten for your incredible idea of this CSS and reversing the table direction!
*/

/* Star hover using lang hack in its own style wrapper, otherwise Gmail will strip it out */

* [lang~="x-star-wrapper"]:hover *[lang~="x-full-star"],
* [lang~="x-star-wrapper"]:hover ~ *[lang~="x-star-wrapper"] *[lang~="x-full-star"] {
  color: #878787 !important;
}

/* Prevent hover effects so double click issue doesn't happen on mobile devices */

/*
  IMPORTANT:
  The 596px applies to the standard 580+16 gutter, please change manually when foundation CSS have bee tweaks.
  SCSS variables won't work here.
  I have no evidence of the need of removing the hover effect, but keep it though
*/

@media only screen and (max-width: 596px) {
  * [lang~="x-star-wrapper"] {
    pointer-events: none !important;
  }
  * [lang~="x-full-star"] {
    pointer-events: auto !important;
  }
}

// element-keymessage
table.keymessage th.columns {
  padding-top: 16px;
  background-color: #f4f4f4;
}

// element-two-columns
table.two-columns {
  th.columns {
    padding-top: 16px;
    padding-bottom: 6px;
    background-color: #f4f4f4;
  }
  &.only-image {
    th.columns {
      padding-bottom: 16px;
    }
  }
}
// Due to the changed direction, in the desktop view the paddings of 8px and 16px must be swapped
table.keymessage.rtl {
  direction: rtl;
  th.columns.last {
    padding-left: 16px;
    padding-right: 8px;
    direction: ltr;
  }
  th.columns.first {
    padding-left: 8px;
    padding-right: 16px;
    direction: ltr;
  }
}

table.keymessage.full-width.top {
  th.columns {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

table.keymessage.full-width.bottom {
  th.columns {
    padding-bottom: 6px;
  }
}

table.keymessage.image-none {
  th.columns {
    padding-bottom: 6px;
  }
}

// Mobile
@media only screen and (max-width: #{$global-breakpoint}) {

  // element-star-rating
  table.rating-stars {
    width: 100% !important;
  }
  table.rating-like {
    width: 250px !important;
  }
  table.rating-thumbs {
    width: 140px !important;
  }
}
