// Desktop

p, h1, h2, h3, td {
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

sup {
  line-height: 0px;
  font-size: 85%;
  mso-text-raise: 40%;
}

sub {
  line-height: 0px;
  font-size: 85%;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 22px;
}

// Preheader

table.row.preheader {
  th {
    padding-top: 4px;
    padding-bottom: 0;
  }
  p {
    font-size: 12px;
    color: #bbbbbb;
    mso-line-height-rule: exactly;
    line-height: 15px;
    text-align: center;
  }
}

table.row.pi {
  p {
    color: #999;
    font-size: 12px;
    mso-line-height-rule: exactly;
    line-height: 15px;
  }
}

table.row.fragment-refs, table.row.approval-number {
  p {
    color: #999;
    font-size: 12px;
    mso-line-height-rule: exactly;
    line-height: 15px;
    margin: 0;
  }
}


// in fragments only to display the citations/footnotes nicely below the fragment

p.refs-sim {
  color: #999;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 15px;
}

// Mobile
@media only screen and (max-width: #{$global-breakpoint}) {

  img.hide_on_mobile {
    display: none !important;
  }

  img.show_on_mobile {
    display : block !important;
  }

  img.small-width-100 {
    width: 100% !important;
  }

  img.small-width-75 {
    width: 75% !important;
  }

  img.small-width-50 {
    width: 50% !important;
  }

  img.small-width-40 {
    width: 40% !important;
  }

  img.small-width-30 {
    width: 30% !important;
  }

  img.small-width-25 {
    width: 25% !important;
  }

  img.small-float-left {
    float: left !important;
    text-align: left !important;
  }

  img.small-float-right {
    float: right !important;
    text-align: right !important;
  }

}
