<!-- build:remove:dist  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="css/style.css"/>

    {{#brand-scheme-custom}}
      {{>brand-scheme-custom}}
    {{/brand-scheme-custom}}

</head>

<body>

<table class="body {{&brand-scheme}}" data-made-with-foundation>
    <tr>
        <td class="float-center" align="center" valign="top">
            <center>

                <container>
                    <spacer></spacer>
                </container>

                <table align="center" class="container">
                    <tbody>
<!-- /build -->
