{{=[[ ]]=}}

[[#element_rating]]

  [[>spacer-10]]

  <row class="element rating brand-scheme" role="presentation">
    [[>columns-start]]
      [[&label]]
    [[>columns-end]]
  </row>

  [[#rating_type-stars]]

    <row class="element rating brand-scheme" role="presentation">
      [[>columns-start]]
        <center>
          <table class="rating-stars" style="direction: rtl;" dir="rtl" role="presentation">
            <tr>
              <td class="star-wrapper" lang="x-star-wrapper">
                <p class="text-center">
                  <a class="star" href="[[&base_url_stars]][[&url_star_5]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">&#9733;</font></a>
                </p>
                <p class="text-center">
                  <a class="rating" href="[[&base_url_stars]][[&url_star_5]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">5</font></a>
                </p>
              </td>
              <td class="star-wrapper" lang="x-star-wrapper">
                <p class="text-center">
                  <a class="star" href="[[&base_url_stars]][[&url_star_4]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">&#9733;</font></a>
                </p>
                <p class="text-center">
                  <a class="rating" href="[[&base_url_stars]][[&url_star_4]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">4</font></a>
                </p>
              </td>
              <td class="star-wrapper" lang="x-star-wrapper">
                <p class="text-center">
                  <a class="star" href="[[&base_url_stars]][[&url_star_3]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">&#9733;</font></a>
                </p>
                <p class="text-center">
                  <a class="rating" href="[[&base_url_stars]][[&url_star_3]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">3</font></a>
                </p>
              </td>
              <td class="star-wrapper" lang="x-star-wrapper">
                <p class="text-center">
                  <a class="star" href="[[&base_url_stars]][[&url_star_2]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">&#9733;</font></a>
                </p>
                <p class="text-center">
                  <a class="rating" href="[[&base_url_stars]][[&url_star_2]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">2</font></a>
                </p>
              </td>
              <td class="star-wrapper" lang="x-star-wrapper">
                <p class="text-center">
                  <a class="star" href="[[&base_url_stars]][[&url_star_1]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">&#9733;</font></a>
                </p>
                <p class="text-center">
                  <a class="rating" href="[[&base_url_stars]][[&url_star_1]]" class="full-star" target="_blank" lang="x-full-star"><font style="text-decoration: none;">1</font></a>
                </p>
              </td>
            </tr>
          </table>
        </center>
      [[>columns-end]]
    </row>

  [[/rating_type-stars]]

  [[#rating_type-thumbs]]
    <row class="collapse element rating brand-scheme" role="presentation">
      [[>columns-start]]
        <center>
          <table class="rating-thumbs" role="presentation">
            <tr>
              <td>
                <p class="text-center">
                  <a class="thumb" href="[[&base_url_thumbs]][[&url_up]]" target="_blank"><font style="text-decoration: none;">&#128077;</font></a>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <a class="thumb" href="[[&base_url_thumbs]][[&url_down]]" target="_blank"><font style="text-decoration: none;">&#128078;</font></a>
                </p>
              </td>
            </tr>
          </table>
        </center>
        [[>columns-end]]
    </row>
  [[/rating_type-thumbs]]

  [[#rating_type-like]]
    <row class="collapse element rating brand-scheme" role="presentation">
      [[>columns-start]]
        <center>
          <table class="rating-like" role="presentation">
            <tr>
              <td>
                <p class="text-center">
                  <a class="like" href="[[&base_url_like]][[&url_dislike]]" target="_blank"><font style="text-decoration: none;">&#128542;</font></a>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <a class="like" href="[[&base_url_like]][[&url_medium]]" target="_blank"><font style="text-decoration: none;">&#128528;</font></a>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <a class="like" href="[[&base_url_like]][[&url_like]]" target="_blank"><font style="text-decoration: none;">&#128512;</font></a>
                </p>
              </td>
            </tr>
          </table>
        </center>
        [[>columns-end]]
    </row>
  [[/rating_type-like]]

[[/element_rating]]
