{{=[[ ]]=}}

[[#element_keymessage]]

    <!-- Standard Image left -->

    [[#display-image-3]]

    <row class="element keymessage brand-scheme [[&direction]]" role="presentation">

      <th class="small-12 large-3 columns first" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
      <table role="presentation">
        <tr>
          <th>
            <!-- Image -->
            [[#button_1]]
            [[>element-keymessage-image-tiny]]
            [[/button_1]]
          </th>
        </tr>
      </table>
      </th>

      <th class="small-12 large-9 columns last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
      <table role="presentation">
        <tr>
          <th>
            [[&content]]
            [[>element-keymessage-cta-buttons]]
          </th>
        </tr>
      </table>
      </th>

    </row>

    [[/display-image-3]]

    [[#display-image-4]]

    <row class="element keymessage brand-scheme [[&direction]]" role="presentation">

      <th class="small-12 large-4 columns first" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              <!-- Image -->
              [[#button_1]]
              [[>element-keymessage-image-small]]
              [[/button_1]]
            </th>
          </tr>
        </table>
      </th>

      <th class="small-12 large-8 columns last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              [[&content]]
              [[>element-keymessage-cta-buttons]]
            </th>
          </tr>
        </table>
      </th>

    </row>

    [[/display-image-4]]

    <!-- half-wifth -->

    [[#display-image-6]]

    <row class="element keymessage brand-scheme [[&direction]]" role="presentation">

      <th class="small-12 large-6 columns first" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              <!-- Image -->
              [[#button_1]]
              [[>element-keymessage-image-big]]
              [[/button_1]]
            </th>
          </tr>
        </table>
      </th>

      <th class="small-12 large-6 columns last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              [[&content]]
              [[>element-keymessage-cta-buttons]]
            </th>
          </tr>
        </table>
      </th>

    </row>

    [[/display-image-6]]

    <!-- full-width  -->

    [[#display-image-full]]

        <row class="collapse element keymessage brand-scheme full-width top" role="presentation">

          <th class="large-12 small-12 columns first last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
            <table role="presentation">
              <tr>
                <th>
                  <!-- Image -->
                  [[#button_1]]
                      [[>element-keymessage-image-full]]
                  [[/button_1]]
                </th>
              </tr>
            </table>
          </th>

        </row>

        <row class="element keymessage brand-scheme full-width bottom" role="presentation">

          <th class="large-12 small-12 columns first last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
            <table role="presentation">
              <tr>
                <th>
                [[&content]]
                [[>element-keymessage-cta-buttons]]
                </th>
              </tr>
            </table>
          </th>

        </row>

    [[/display-image-full]]

    <!-- no image  -->

    [[#display-image-none]]

    <row class="element keymessage brand-scheme image-none" role="presentation">

      <th class="large-12 small-12 columns first last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
        <table role="presentation">
          <tr>
            <th>
              [[&content]]
              [[>element-keymessage-cta-buttons]]
            </th>
          </tr>
        </table>
      </th>

    </row>

    [[/display-image-none]]

[[/element_keymessage]]

[[>spacer]]

