{{=[[ ]]=}}

<!-- Image -->
[[#has_img]]
  [[#has_cta]]

    [[#target_type-url]]
    <a href="[[&target_url]]" target="_blank">
      [[>element-two-columns-col-image]]
    </a>
    [[/target_type-url]]

    <!-- Vault start -->
    [[#target_type-vault_other]]
    <a href="{{$[[&target_vault_other]]}}" target="_blank">
      [[>element-two-columns-col-image]]
    </a>
    [[/target_type-vault_other]]

    [[#target_type-vault_piece]]
    <a href="{{PieceLink}}($[[&target_vault_piece]])" target="_blank">
      [[>element-two-columns-col-image]]
    </a>
    [[/target_type-vault_piece]]

    [[#target_type-engage]]
    <a href="[[&target_engage]]" target="_blank">
      [[>element-two-columns-col-image]]
    </a>
    [[/target_type-engage]]

    <!-- Vault end -->

  [[/has_cta]]

  [[^has_cta]]
    [[>element-two-columns-col-image]]
  [[/has_cta]]
[[/has_img]]

<!-- copy -->
[[#has_text]]
  [[>spacer-5]]
  [[&copy]]
[[/has_text]]

<!-- CTA -->

[[#has_cta]]
  [[>spacer-5]]

  [[#justify_cta_center]] <center> [[/justify_cta_center]]

  <table class="button rounded small-expanded brand-scheme [[&cta_type]]" align="[[&justify_cta]]" role="presentation">
    <tr>
      <td>
        <table role="presentation">
          <tr>
            <td>
              [[#target_type-url]]
              <a href="[[&target_url]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-url]]

              <!-- old start -->
              [[#target_type-vault]]
                [[#is_piecelink]]
                <a href="{{PieceLink}}($[[&target_vault]])" target="_blank">
                  [[&label]]
                </a>
                [[/is_piecelink]]

                [[^is_piecelink]]
                <a href="{{$[[&target_vault]]}}" target="_blank">
                  [[&label]]
                </a>
                [[/is_piecelink]]
              [[/target_type-vault]]
              <!-- old end -->

              <!-- new start -->
              [[#target_type-vault_other]]
              <a href="{{$[[&target_vault_other]]}}" target="_blank">
                [[&label]]
              </a>
              [[/target_type-vault_other]]

              [[#target_type-vault_piece]]
              <a href="{{PieceLink}}($[[&target_vault_piece]])" target="_blank">
                [[&label]]
              </a>
              [[/target_type-vault_piece]]
              <!-- new end -->

              [[#target_type-engage]]
              <a href="[[&target_engage]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-engage]]

              [[#target_type-other]]
              <a href="[[&target_other]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-other]]
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  [[#justify_cta_center]] </center> [[/justify_cta_center]]

[[/has_cta]]
