{{=[[ ]]=}}

[[#element_image]]

<row class="[[^has_indent]]collapse[[/has_indent]] element image" role="presentation">
  [[>columns-start]]

    [[^has_link]]
      [[>image-full-with-mobile-alternative]]
    [[/has_link]]

    [[#has_link]]
      [[#target_type-url]]
      <a href="[[&target_url]]" target="_blank">
        [[>image-full-with-mobile-alternative]]
      </a>
      [[/target_type-url]]

      <!-- Veeva start -->
      [[#target_type-vault_other]]
      <a href="{{$[[&target_vault_other]]}}" target="_blank">
        [[>image-full-with-mobile-alternative]]
      </a>
      [[/target_type-vault_other]]

      [[#target_type-vault_piece]]
      <a href="{{PieceLink}}($[[&target_vault_piece]])" target="_blank">
        [[>image-full-with-mobile-alternative]]
      </a>
      [[/target_type-vault_piece]]

      [[#target_type-engage]]
      <a href="[[&target_engage]]" target="_blank">
        [[>image-full-with-mobile-alternative]]
      </a>
      [[/target_type-engage]]

      <!-- Veeva end -->

      [[#target_type-other]]
      <a href="[[&target_other]]" target="_blank">
        [[>image-full-with-mobile-alternative]]
      </a>
      [[/target_type-other]]
    [[/has_link]]

  [[>columns-end]]
</row>

[[/element_image]]
