{{=$$ %%=}}

</container>

<table align="center" class="container" role="presentation">
    <tbody>

	$$#veeva-fragments-max-unlimited%%
    {{insertEmailFragments}}
	$$/veeva-fragments-max-unlimited%%

	$$^veeva-fragments-max-unlimited%%
	{{insertEmailFragments[$$&veeva-fragments-min%%,$$&veeva-fragments-max%%]}}
	$$/veeva-fragments-max-unlimited%%

    </tbody>
</table>

<container>
