{{=[[ ]]=}}

<!-- 1 CTA -->

[[#count_cta_equals-1]]

    [[>spacer-5]]

    [[#button_1]]
 		[[>element-keymessage-cta-button]]
    [[/button_1]]

[[/count_cta_equals-1]]

<!-- 2 CTA -->

[[#count_cta_equals-2]]

    [[>spacer-5]]

    [[#button_1]]
        [[>element-keymessage-cta-button]]
    [[/button_1]]

    [[>spacer-5]]

    [[#button_2]]
        [[>element-keymessage-cta-button]]
    [[/button_2]]

[[/count_cta_equals-2]]

<!-- 3 CTA -->

[[#count_cta_equals-3]]

    [[>spacer-5]]

    [[#button_1]]
        [[>element-keymessage-cta-button]]
    [[/button_1]]

    [[>spacer-5]]

    [[#button_2]]
        [[>element-keymessage-cta-button]]
    [[/button_2]]

    [[>spacer-5]]

    [[#button_3]]
        [[>element-keymessage-cta-button]]
    [[/button_3]]

[[/count_cta_equals-3]]
