{{=[[ ]]=}}

[[#count_cta_equals-0]]
  [[>image-big-with-mobile-alternative]]
[[/count_cta_equals-0]]

[[^count_cta_equals-0]]
  [[#target_type-url]]
      <a href="[[&target_url]]" target="_blank">
        [[>image-big-with-mobile-alternative]]
      </a>
  [[/target_type-url]]

  <!-- Veeva start -->

  [[#target_type-vault_other]]
  <a href="{{$[[&target_vault_other]]}}" target="_blank">
    [[>image-big-with-mobile-alternative]]
  </a>
  [[/target_type-vault_other]]

  [[#target_type-vault_piece]]
  <a href="{{PieceLink}}($[[&target_vault_piece]])" target="_blank">
    [[>image-big-with-mobile-alternative]]
  </a>
  [[/target_type-vault_piece]]

  [[#target_type-engage]]
  <a href="[[&target_engage]]" target="_blank">
    [[>image-big-with-mobile-alternative]]
  </a>
  [[/target_type-engage]]

  <!-- Veeva end -->

  [[#target_type-other]]
      <a href="[[&target_other]]" target="_blank">
        [[>image-big-with-mobile-alternative]]
      </a>
  [[/target_type-other]]
[[/count_cta_equals-0]]
