{{=[[ ]]=}}

[[#justify_cta_center]] <center> [[/justify_cta_center]]

  <table class="button rounded small-expanded brand-scheme [[&cta_type]]" role="presentation">
    <tr>
      <td>
        <table role="presentation">
          <tr>
            <td>
              [[#target_type-url]]
              <a href="[[&target_url]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-url]]

              <!-- Veeva start -->
              [[#target_type-vault_piece]]
              <a href="{{PieceLink}}($[[&target_vault_piece]])" target="_blank">
                [[&label]]
              </a>
              [[/target_type-vault_piece]]

              [[#target_type-vault_other]]
              <a href="{{$[[&target_vault_other]]}}" target="_blank">
                [[&label]]
              </a>
              [[/target_type-vault_other]]

              [[#target_type-engage]]
              <a href="[[&target_engage]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-engage]]

              <!-- new end -->

              [[#target_type-other]]
              <a href="[[&target_other]]" target="_blank">
                [[&label]]
              </a>
              [[/target_type-other]]
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

[[#justify_cta_center]] </center> [[/justify_cta_center]]
