{{=[[ ]]=}}

[[#element_two_columns]]

    <row class="element two-columns brand-scheme [[&only-images-class-true]]" role="presentation">

      <th class="small-12 [[&left_column_size]] columns first" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              [[#column_left]]
              [[>element-two-columns-col]]
              [[/column_left]]
            </th>
          </tr>
        </table>
      </th>

      <th class="small-12 [[&right_column_size]] columns last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]] valign="top">
        <table role="presentation">
          <tr>
            <th>
              [[#column_right]]
              [[>element-two-columns-col]]
              [[/column_right]]
            </th>
          </tr>
        </table>
      </th>

    </row>

[[/element_two_columns]]

[[>spacer]]

