{{=[[ ]]=}}

[[#element_text]]

<row class="element text brand-scheme [[^has_indent]]collapse[[/has_indent]] [[#has_bgcolor]]has-background-color[[/has_bgcolor]]" role="presentation">

  [[#has_one_column-true]]
  <th class="small-12 [[&left_column_size]] columns first last" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
  <table role="presentation">
    <tr>
      <th>
        [[&content]]
      </th>
      <th class="expander"></th>
    </tr>
  </table>
  </th>
  [[/has_one_column-true]]

  [[^has_one_column-true]]
  <th class="small-12 [[&left_column_size]] columns first" valign="top" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
    <table role="presentation">
      <tr>
        <th>
          [[&content]]
        </th>
      </tr>
    </table>
  </th>

  <th class="small-12 [[&right_column_size]] columns last" valign="top" [[#has_bgcolor]][[&bgcolor]][[/has_bgcolor]]>
  <table role="presentation">
    <tr>
      <th>
        [[&content_right]]
      </th>
    </tr>
  </table>
  </th>
  [[/has_one_column-true]]

</row>

[[/element_text]]
