{{=[[ ]]=}}

[[#has-veeva-fragments]]
<row class="collapse fragment-refs" role="presentation">
  [[>columns-start]]
	<p>
	  {{InsertCitations}}
	  <br>
	  {{InsertFootnotes}}
	</p>
  [[>columns-end]]
</row>
[[/has-veeva-fragments]]
