{{=[[ ]]=}}

[[^has_custom_width-true]]

  [[#has_mobile_image]]
    <img alt="[[&img_alt]]" class="hide_on_mobile small-float-center [[&img_small_width]]" width="580" data-width="1160" src="images/[[&img]]">
    <!--[if !mso]><!-->
    <img alt="[[&img_alt]]" class="show_on_mobile small-float-center [[&img_small_width]]" width="580" data-width="1160" src="images/[[&img_mobile]]" style="display: none;">
    <!--<![endif]-->
  [[/has_mobile_image]]

  [[^has_mobile_image]]
  <img alt="[[&img_alt]]" class="small-float-center [[&img_small_width]]" width="580" data-width="1160" src="images/[[&img]]">
  [[/has_mobile_image]]

[[/has_custom_width-true]]

[[#has_custom_width-true]]

  [[#has_mobile_image]]
    [[#class_desktop_align_is_center]]
    <center>
    [[/class_desktop_align_is_center]]
    <img alt="[[&img_alt]]" class="hide_on_mobile [[&class_desktop_align]] [[&img_small_width]]" width="[[&custom_width]]" data-width="1160" src="images/[[&img]]">
    [[#class_desktop_align_is_center]]
    </center>
    [[/class_desktop_align_is_center]]

    <!--[if !mso]><!-->
    <img alt="[[&img_alt]]" class="show_on_mobile [[&class_mobile_align]] [[&class_mobile_width]]" width="580" data-width="1160" src="images/[[&img_mobile]]" style="display: none;">
    <!--<![endif]-->
  [[/has_mobile_image]]

  [[^has_mobile_image]]
    [[#class_desktop_align_is_center]]
    <center>
    [[/class_desktop_align_is_center]]
    <img alt="[[&img_alt]]" class="[[&class_desktop_align]] [[&class_mobile_align]] [[&class_mobile_width]]" width="[[&custom_width]]" data-width="1160" src="images/[[&img]]">
    [[#class_desktop_align_is_center]]
    </center>
    [[/class_desktop_align_is_center]]
  [[/has_mobile_image]]

[[/has_custom_width-true]]
