{{=[[ ]]=}}

[[#has_mobile_image]]
  <img alt="[[&img_alt]]" class="hide_on_mobile small-float-center [[&img_small_width]]" width="264" data-width="512" src="images/[[&img]]">
  <!--[if !mso]><!-->
  <img alt="[[&img_alt]]" class="show_on_mobile small-float-center [[&img_small_width]]" width="264" data-width="512" src="images/[[&img_mobile]]" style="display: none;">
  <!--<![endif]-->
[[/has_mobile_image]]

[[^has_mobile_image]]
<img alt="[[&img_alt]]" class="small-float-center [[&img_small_width]]" width="264" data-width="512" src="images/[[&img]]">
[[/has_mobile_image]]
