{{=[[ ]]=}}

[[#show_preheader]]
<row class="preheader collapse brand-scheme" role="presentation">
  [[>columns-start]]
  <p class="preheader">[[&preheader]]</p>
  [[>columns-end]]
</row>
[[/show_preheader]]

[[^show_preheader]]
<p style="display:none !important;
           visibility:hidden;
           mso-hide:all;
           font-size:1px;
           color:#ffffff;
           line-height:1px;
           max-height:0px;
           max-width:0px;
           opacity:0;
           overflow:hidden;">
  [[&preheader]]
</p>
[[/show_preheader]]


