{{=[[ ]]=}}

<row class="footer" role="presentation">
  <th class="small-12 large-6 columns first" valign="top">
    <table role="presentation">
      <tr>
        <th>
          [[&address]]
        </th>
      </tr>
    </table>
  </th>

  <th class="small-12 large-6 columns last" valign="top">
    <table role="presentation">
      <tr>
        <th>
          [[&legal_code]]
        </th>
      </tr>
    </table>
  </th>
</row>


