{{=[[ ]]=}}

[[#has-approval-number]]
<row class="collapse approval-number" role="presentation">
  [[>columns-start]]
	<p>
	  [[&approval-number]]
	</p>
  [[>columns-end]]
</row>
[[/has-approval-number]]
