{{=[[ ]]=}}

<!-- Content of Default footer -->

<container class="footer-container" role="presentation">
  [[>spacer]]
  <row class="disclaimer" role="presentation">
    [[>columns-start]]
    [[&disclaimer]]
    [[>columns-end]]
  </row>
</container>

<container role="presentation">
  [[>spacer]]
  <row class="pi collapse" role="presentation">
    [[>columns-start]]
    [[&pi-footer]]
    [[>columns-end]]
  </row>
</container>
