{{=[[ ]]=}}

[[#brand-scheme-custom]]
<row class="collapse" role="presentation">
  [[>columns-start]]
    <img width="580" data-width="1160" src="images/[[&custom-logo-footer]]">
  [[>columns-end]]
</row>
[[/brand-scheme-custom]]

[[^brand-scheme-custom]]
  <row role="presentation">
    <th class="small-12 large-6 columns first">
      <table role="presentation">
        <tr>
          <th>
            [[#logo-footer-left-visible]]
            <img src="images/[[&logo-footer-left-img]]" role="presentation" data-width="350" width="[[&logo-footer-left-width]]" class="[[&logo-footer-left-css-class]]" alt="[[&logo-footer-left-alt-text]]">
            [[/logo-footer-left-visible]]
          </th>
        </tr>
      </table>
    </th>
    <th class="small-12 large-6 columns last">
      <table role="presentation">
        <tr>
          <th>
            [[#logo-footer-right-visible]]
            <img src="images/[[&logo-footer-right-img]]" role="presentation" data-width="350" width="[[&logo-footer-right-width]]" class="[[&logo-footer-right-css-class]]" alt="[[&logo-footer-right-alt-text]]">
            [[/logo-footer-right-visible]]
          </th>
        </tr>
      </table>
    </th>
  </row>
[[/brand-scheme-custom]]

