{{=[[ ]]=}}

[[>spacer]]

[[>custom-footer/footer-logos]]

[[>spacer]]

[[>custom-footer/pi]]
</container>

[[>custom-footer/template-fragment]]

<container role="presentation">

  [[>fragment-references]]
  [[>custom-footer/custom-references]]
  [[>custom-footer/approval-number]]
