{{=[[ ]]=}}

[[#pi-bottom]]
  [[#pi-header-text]]
  <row class="pi-header-text" role="presentation">
    [[&pi-header-text]]
  </row>
[[/pi-header-text]]

<row class="pi brand-scheme" role="presentation">
  [[>columns-start]]

    [[#pis]]

      [[#link]]
        [[&link]]
      [[/link]]

    [[/pis]]

  [[>columns-end]]
</row>
[[/pi-bottom]]
