{{=[[ ]]=}}

<!-- Content of Default footer -->

<!-- content-only -->

[[^has-template-fragment]]
  [[>custom-footer/footer-disclaimer]]
[[/has-template-fragment]]

[[#has-template-fragment]]

<!-- build:remove:dist,test  -->
<container>
  <row>
    <p style="font-size: 9px; color: #555"><span style="color:#ff0000;">Note:</span> The actual footer can be found in the "Template Fragment" in Vault
      [[#has-vault-template-fragment]]
      <br><a href="[[&vault-template-fragment-url]]" target="_blank">[[&vault-template-fragment-url]]</a>
      [[/has-vault-template-fragment]]
    </p>
  </row>
</container>
<!-- /build -->

<!-- build:remove:dist  -->
[[&template-fragment-rendered-html]]
<!-- /build -->

<!-- build:remove:dev,sc2,test  -->
{{emailTemplateFragment}}
<!-- /build -->

[[/has-template-fragment]]

<!-- /content-only -->
