{{=[[ ]]=}}
[[#has-header-logo]]
  <row class="collapse header" role="presentation">
    [[>columns-start]]
    [[#logo-header-visible]]
      <img src="images/[[&logo-header-img]]" role="presentation" data-width="350" width="[[&logo-header-width]]" class="[[&logo-header-css-class]]" alt="[[&logo-header-alt-text]]">
    [[/logo-header-visible]]
    [[>columns-end]]
  </row>
  [[>spacer]]
[[/has-header-logo]]

