{{=[[ ]]=}}

<!-- SC2 { materialId: [[material_id]] } -->

[[> _pre_fragment ]]

<tr>
    <td>

      [[#element-index-__slot-1-element-index__]]
          [[>element-__slot-1-element-type__]]
      [[/element-index-__slot-1-element-index__]]

      [[#element-index-__slot-2-element-index__]]
          [[>element-__slot-2-element-type__]]
      [[/element-index-__slot-2-element-index__]]

      [[#element-index-__slot-3-element-index__]]
          [[>element-__slot-3-element-type__]]
      [[/element-index-__slot-3-element-index__]]

      [[#element-index-__slot-4-element-index__]]
          [[>element-__slot-4-element-type__]]
      [[/element-index-__slot-4-element-index__]]

      [[#element-index-__slot-5-element-index__]]
          [[>element-__slot-5-element-type__]]
      [[/element-index-__slot-5-element-index__]]

      [[#element-index-__slot-6-element-index__]]
          [[>element-__slot-6-element-type__]]
      [[/element-index-__slot-6-element-index__]]

      [[#element-index-__slot-7-element-index__]]
          [[>element-__slot-7-element-type__]]
      [[/element-index-__slot-7-element-index__]]

      [[#element-index-__slot-8-element-index__]]
          [[>element-__slot-8-element-type__]]
      [[/element-index-__slot-8-element-index__]]

      [[#element-index-__slot-9-element-index__]]
          [[>element-__slot-9-element-type__]]
      [[/element-index-__slot-9-element-index__]]

      [[#element-index-__slot-10-element-index__]]
          [[>element-__slot-10-element-type__]]
      [[/element-index-__slot-10-element-index__]]

      [[#element-index-__slot-11-element-index__]]
          [[>element-__slot-11-element-type__]]
      [[/element-index-__slot-11-element-index__]]

      [[#element-index-__slot-12-element-index__]]
          [[>element-__slot-12-element-type__]]
      [[/element-index-__slot-12-element-index__]]

      [[#element-index-__slot-13-element-index__]]
          [[>element-__slot-13-element-type__]]
      [[/element-index-__slot-13-element-index__]]

      [[#element-index-__slot-14-element-index__]]
          [[>element-__slot-14-element-type__]]
      [[/element-index-__slot-14-element-index__]]

      [[#element-index-__slot-15-element-index__]]
          [[>element-__slot-15-element-type__]]
      [[/element-index-__slot-15-element-index__]]

      [[#element-index-__slot-16-element-index__]]
      [[>element-__slot-16-element-type__]]
      [[/element-index-__slot-16-element-index__]]

      [[#element-index-__slot-17-element-index__]]
      [[>element-__slot-17-element-type__]]
      [[/element-index-__slot-17-element-index__]]

      [[#element-index-__slot-18-element-index__]]
      [[>element-__slot-18-element-type__]]
      [[/element-index-__slot-18-element-index__]]

      [[#element-index-__slot-19-element-index__]]
      [[>element-__slot-19-element-type__]]
      [[/element-index-__slot-19-element-index__]]

      [[#element-index-__slot-20-element-index__]]
      [[>element-__slot-20-element-type__]]
      [[/element-index-__slot-20-element-index__]]

      [[#element-index-__slot-21-element-index__]]
      [[>element-__slot-21-element-type__]]
      [[/element-index-__slot-21-element-index__]]

      [[#element-index-__slot-22-element-index__]]
      [[>element-__slot-22-element-type__]]
      [[/element-index-__slot-22-element-index__]]

      [[#element-index-__slot-23-element-index__]]
      [[>element-__slot-23-element-type__]]
      [[/element-index-__slot-23-element-index__]]

      [[>custom-footer/approval-number]]

      [[#has_fragment_references]]
      __references__
      [[/has_fragment_references]]

      [[#has_fragment_footnotes]]
      __footnotes__
      [[/has_fragment_footnotes]]

      [[>spacer]]

    </td>
</tr>

[[> _post_fragment ]]
